/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  /* height: 100% */
}

body {
  display: flex;
  flex-direction: column;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 1rem;
}

.body-text {
  font-family: 'Open Sans';
}

/*=== open-nav-filter ===*/

.open-nav-filter {

}


/*=== upper-half-nav-input ===*/
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}


.header-text {
  display: grid;
  justify-self: center;
}

.menu-nav-close-icon {
  width: 15%;
  height: auto;
  border-style: double;
  border-color: red;
}

.menu-header-icon {
  display: grid;
  width: 3rem;
  height: 2rem;
  padding-top: 1rem;
  padding-left: 0.25rem;
}




/*=== title-form ===*/

.title-form {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 4%;
  border-radius: .15rem;
}

.title-text{
  font-family: 'Open Sans';
  font-weight: 600;
  color: #1f1f3d;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.title-input {
  border: 0.1rem solid #5356a4;
  border-radius: .15rem;
  height: 3rem;
}


/*=== body-form ===*/

.body-form {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 4%;
}

.body-text {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #1f1f3d;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.body-input {
  border: 0.1rem solid #5356a4;
  border-radius: .15rem;
  height: 6rem;
}

/*=== save-form ===*/

.save-button-section {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 1.5rem;
}

.save-button {
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #5356a4;
  border-radius: .15rem;
  background-color: #353567;
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1.35rem;
}

/*=== search-form ===*/

.search-icon {
  width: 1.5rem;
  height: auto;
}

.search-box-input {
  /* height: 3rem; */
  width: 100%;
}

.search-section {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #5356a4;
  border-radius: .15rem;
}

.search-icon-button {
  background-color: #353567;
  width: 3rem;
  height: 3rem;
}
/*=== idea-cards && all-cards ===*/

.all-cards {
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 1.5rem;
}

.card {
  width: 100%;
  border: 0.1rem solid #1F1F3D;
  margin-bottom: 1rem;
}

/*===*** subsection card-header idea-cards && all-cards ===*/

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  background-color: #1F1F3D;
}

.card-star-favorite-icon {
  width: 10%;
  height: auto;
}

.card-delete-icon {
 width: 10%;
 height: auto;
}

/*===*** subsection card-body idea-cards && all-cards ===*/

.card-body {

}

.card-idea-title {

}

.card-idea-text {

}

/*===*** subsection card-footer idea-cards && all-cards ===*/

.card-footer {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: #5356a4;
  border-top: 0.1rem solid #1F1F3D;
  align-items: center;
}

.card-footer p {
  font-family: 'Open Sans';
  color: #ffffff;
  font-weight: 600;
}

.card-add-comment-icon {
  width: 10%;
  height: auto;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;

}

.idea-cards {
  flex-grow: 3;

}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    /* height: 40px;
    text-align: center;
    width: 100%; */
  }

  .idea-form {
    flex-grow: 1;
  }
}
