/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  /* height: 100% */
}

body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}

/*=== open-nav-filter ===*/

.open-nav-filter {

}


/*=== upper-half-nav-input ===*/

.header-text {

}

.menu-nav-close-icon {
  width: 15%;
  height: auto;
  border-style: double;
  border-color: red;
}

.menu-header-icon {
  width: 10%;
  height: auto;
}


/*=== menu section ===*/

.menu {
  /* height: 100%;
  width: 380px; */
}


/*=== title-form ===*/

.title-form {

}

.title-text{

}

.title-input {

}


/*=== body-form ===*/

.body-form {

}

.body-text {

}

.body-input {

}

/*=== save-form ===*/

.save-button {

}

/*=== search-form ===*/

.search-icon {
  width: 10%;
  height: auto;
}

.search-box-input {

}


/*=== idea-cards && all-cards ===*/

.all-cards {

}

.card {

}

/*===*** subsection card-header idea-cards && all-cards ===*/

.card-header {

}

.card-star-favorite-icon {
  width: 10%;
  height: auto;
  border-style: double;
  border-color: red;
}

.card-delete-icon {
 width: 10%;
 height: auto;
 border-style: double;
 border-color: red;
}

/*===*** subsection card-body idea-cards && all-cards ===*/

.card-body {

}

.card-idea-title {

}

.card-idea-text {

}

/*===*** subsection card-footer idea-cards && all-cards ===*/

.card-footer {

}

.card-add-comment-icon {
  width: 10%;
  height: auto;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    /* height: 40px;
    text-align: center;
    width: 100%; */
  }

  .idea-form {
    flex-grow: 1;
  }
}
